<h1> Word Puzzle Creator</h1>
<p>Create a word puzzle for a friend to solve. Enter a word or phrase into the box and we will convert all vowels into dashes. Challenge your friends and family!</p>

<form action="/results">
  <div class="form-group">
   <input class="form-control" id="inputWord" name="inputWord">
 </div>
 <button class="btn btn-success" type="submit">Create Your Puzzle!</button>
</form>
